{% for artist in artists %}
    <li class="list-group-item d-flex">

            <div class="song-cover">
            {% for song in artist.songs %}
              {% if song.image %}
                <img {% if loop.index != 1 %}style="display:none"{% endif %}
                     class="lazy" width="{{ covers_size }}"
                     data-original="{{ url_for('static', filename=covers_dir+'/'+song.image) }}"
                     />
              {% endif %}
            {% endfor %}
            </div>
            <div class="artist-text ml-2 w-100">
              <h4>{{ artist.name }}</h4>
              <ul class="list-unstyled">
              {% for song in artist.songs %}
                <li class="d-flex justify-content-between">
                    <span class="song-title">{{ song.title }}</span>
                    <div class="song-tags">
                        <ul class="list-inline text-muted">
                        {% if song.duo %}<li class="list-inline-item"><span class="fa fa-users"></span> {{ _("Duet") }}</li>{% endif %}
                        {% if song.has_karaoke %}<li class="list-inline-item"><span class="fa fa-music"></span> {{ _("Karaoke") }}</li>{% endif %}
                        </ul>
                    </div>
                </li>
              {% endfor %}
              </ul>
            </div>

    </li>
{% endfor %}
