<!DOCTYPE html>
<html lang="{{ g.locale.language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ _("Assurancetourix, karaoke party manager") }}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <style>
        #songlist .artist-info,
        #songlist .song-info {
            min-height: {{ covers_size }}px;
        }
        #songlist .song-cover {
            width: {{ covers_size }}px;
        }
    </style>
    {% block more_headers %}{% endblock %}
    {% include 'headers.html' ignore missing %}
</head>
<body id="top">

<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 d-flex justify-content-between">
            <a class="navbar-brand" href="{{ url_for(".index") }}" title="{{ _("Home") }}">
                <img src="{{ url_for('static', filename='microphone.svg') }}" width="25" height="25" class="d-inline-block mr-2" alt="logo">
                {{ _("Karaoke") }}
            </a>
            <a href="#top" class="navbar-text navbar-link top" title="{{ _("Top") }}">
                <span class="fa fa-arrow-circle-o-up"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">


{% include 'top.html' ignore missing %}

        <ul class="nav nav-tabs mb-2">
          <li role="presentation" class="nav-item">
             <a href="{{ url_for(".by_genre") }}"
               class="nav-link {% if page_id == "by-genre" %}active{% endif %}"
               >{{ _("Genre") }}</a>
          </li>
          <li role="presentation" class="nav-item">
             <a href="{{ url_for(".by_artist") }}"
               class="nav-link {% if page_id == "by-artist" %}active{% endif %}"
               >{{ _("Artist") }}</a>
          </li>
          <li role="presentation" class="nav-item">
             <a href="{{ url_for(".by_language") }}"
               class="nav-link {% if page_id == "by-language" %}active{% endif %}"
               >{{ _("Language") }}</a>
          </li>
          <li role="presentation" class="nav-item">
             <a href="{{ url_for(".latest") }}"
               class="nav-link {% if page_id == "latest" %}active{% endif %}"
               >{{ _("Recent") }}</a>
          </li>
          <li role="presentation" class="nav-item">
             <a href="{{ url_for(".popular") }}"
               class="nav-link {% if page_id == "popular" %}active{% endif %}"
               >{{ _("Popular") }}</a>
          </li>
          <li role="presentation" class="nav-item">
             <a href="{{ url_for(".search") }}"
               class="nav-link {% if page_id == "search" %}active{% endif %}"
               >{{ _("Search") }}</a>
          </li>
        </ul>

{% block content %}{% endblock %}

<div id="signature" class="mt-5 p-2 text-center border-top border-secondary text-secondary">
    <a href="https://gitlab.com/abompard/assurancetourix" data-rel="external">
    {{ _("Assurancetourix project") }}</a>.
    {{ _('Written by Aurélien. For any suggestion, idea, improvement, fix, insult: <a href="mailto:aurelien@bompard.org" data-rel="external">write me</a>.') }}
</div>

        </div> <!-- /col -->
    </div> <!-- /row -->
</div> <!-- /container -->



<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='vendor/lazyload/jquery.lazyload.min.js') }}"></script>
<script src="{{ url_for('static', filename='actions.js') }}"></script>

{% block more_js %}{% endblock %}

{% include 'bottom.html' ignore missing %}

</body>
</html>
