<ul id="songlist" class="list-group"
    data-load-from="{{ load_url }}">
    <div class="spinner">
        <img src="{{ url_for('static', filename='ajax-loader.gif') }}" alt="..." />
    </div>
</ul>
