<li class="list-group-item d-flex">
    {% if popularity %}
      <div class="align-self-center mr-3">
      <span class="song-popularity badge badge-secondary">{{ popularity }}</h2>
      </div>
    {% endif %}
    <div class="song-cover">
    {% if song.image %}
      <img class="lazy" width="{{ covers_size }}"
           data-original="{{ url_for('static', filename=covers_dir+'/'+song.image) }}"
           />
    {% endif %}
    </div>
    <div class="song-text ml-2">
      <h4>{{ song.artist.name }}</h4>
      <p class="song-title">{{ song.title }}</p>
    </div>
    <ul class="song-tags list-unstyled text-muted ml-auto pl-2">
    {% if song.duo %}<li><span class="fa fa-users"></span> {{ _("Duet") }}</li>{% endif %}
    {% if song.has_karaoke %}<li><span class="fa fa-music"></span> {{ _("Karaoke") }}</li>{% endif %}
    </ul>
</div>
</li>
