{% extends "_base.html" %}

{% block content %}

{% if genre %}
  {% include "_song_list_loader.html" %}
{% else %}

  <div class="btn-group-vertical d-flex px-4">
  {% for genre, total in genres %}
    <a class="btn btn-light d-flex justify-content-between align-items-center py-2 px-4" href="{{ url_for(".by_genre", genre=genre) }}">
      {{ genre }}
      <span class="badge bg-secondary text-white rounded-pill">{{ total }}</span>
    </a>
  {% else %}
    <p class="d-block"><em>{{ _("No genres.") }}</em></p>
  {% endfor %}
  </div>

{% endif %}

{% endblock %}
