{% extends "_base.html" %}

{% block content %}

{% if language %}
  {% include "_song_list_loader.html" %}
{% else %}

  <div class="btn-group-vertical d-flex px-4">
  {% for language, total in languages %}
    <a class="btn btn-light d-flex justify-content-between align-items-center py-2 px-4" href="{{ url_for(".by_language", language=language) }}">
      {{ language }}
      <span class="badge bg-secondary text-white rounded-pill">{{ total }}</span>
    </a>
  {% else %}
    <li class="d-block"><em>{{ _("No languages.") }}</em></li>
  {% endfor %}
  </ul>

{% endif %}

{% endblock %}
