{% extends "_base.html" %}

{% block content %}

{% if page_id == "search" %}
<form action="{{ url_for(".search") }}" method="get" id="search-form" class="mb-4">
  <div class="form-group">
    <input type="search" class="form-control" placeholder="{{ _("Artist, title, genre, language, ...") }}"
           name="q" value="{% if search_query %}{{ search_query }}{% endif %}" autofocus>
  </div>
 <div class="form-group form-check">
    <input type="checkbox" name="duo" id="duo" class="form-check-input"
           {% if duo %}checked{% endif %}>
    <label for="duo" class="form-check-label">{{ _("Duets") }}</label>
  </div>
 <div class="form-group form-check">
    <input type="checkbox" name="karaoke" id="karaoke" class="form-check-input"
           {% if karaoke %}checked{% endif %}>
    <label for="karaoke" class="form-check-label">{{ _("No voice") }}</label>
  </div>
  <button type="submit" class="btn btn-primary">
    <span class="fa fa-search mr-1" aria-hidden="true"></span>
    {{ _("Search...") }}
  </button>
</form>
{% endif %}

{% include "_song_list_loader.html" %}

{% endblock %}
