body {
  padding-top: 70px;
} /* Bootstrap's fixed navbar */

.navbar a.top {
  font-size: 1.2rem;
}

.spinner {
  display: none;
  text-align: center;
  padding: 1em;
}

ul.nav-pills {
  margin-bottom: 1em;
}

#songlist .song-text h4,
#songlist .artist-text h4 {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

#songlist .song-tags {
  font-size: 0.7rem;
}
#songlist .song-popularity {
  font-size: 1rem;
}

#signature {
  font-size: 0.8rem;
}
#signature a {
  color: #555;
}

/* By genre and by language lists */
ul.categories {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
ul.categories a {
  color: black;
}
